SUPABASE_URL=
SUPABASE_ANON_KEY=
GOOGLE_BOOKS_API_KEY=
SITE_URL=https://personal-biblioteca.vercel.app

# Solo si usas Supabase Auth desde navegador
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
